#carouselExampleCaptions{
  height: 100%;
  width: 1000px;

}
p {
  font-family: Courier New, monospace;
  font-size: 20px;
  align-self:left;
}

body {
  align: center;

}

.container {
  margin: 100px;
  padding: 150px;
  padding-top:none;
  margin-top: 0;


}

.container img {
  height: 25%;
  width: 25%;

  }
